.row{
    margin-left: 20px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
}

.smallPoster{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
}

.poster:hover{
    transform: scale(1.1);
}

.smallPoster:hover{
    transform: scale(1.1);
}

.video-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}
  

.video-content {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}
  
  
.video-title {
    margin-top: 10px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.cls-btn{
    align-self: center;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.196); 
    color: #ffffff; 
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.cls-btn:hover {
    background-color: white; 
    color: black; 
}